.banner {
  width: 100%;
  div {
    width: 100% !important;
    height: 500px !important;
    @media all and (max-width: 1100px) {
      height: 350px !important;
    }
  }
  video {
    object-fit: cover;
  }
}

.infosection {
  .map {
    height: 400px;
  }
}
